@if(device){
<div class="controls">
    <h3>{{ device.name }}</h3>
    <div>
      <button (click)="switchPower()">
        {{ device.power_status ? 'Switch Off' : 'Switch On' }}
      </button>
    </div>
    <div [ngSwitch]="device.name">
      <!-- <ng-container *ngSwitchCase="'lamp'"> -->
        <!-- <input type="color" [(ngModel)]="device.settings.color" (change)="updateDeviceSetting('color', $event.target.value)"> -->
      <!-- </ng-container> -->
      <!-- <ng-container *ngSwitchCase="'airconditioner'"> -->
        <!-- <select [(ngModel)]="device.settings.mode" (change)="updateDeviceSetting('mode', $event.target.value)"> -->
          <!-- <option value="hot">Hot</option>
          <option value="cold">Cold</option>
        </select> -->
        <p>Set temperature:</p>
        <!-- <input type="range" min="15" max="45" [(ngModel)]="device.settings.temperature" (input)="updateDeviceSetting('temperature', $event.target.value)"> -->
      <!-- </ng-container> -->
    </div>
  </div>
}
@else {
    <div>
        <h3>Select a device to show controls.</h3>
    </div>
}
  
  