<div class="room-buttons-container">
    <button (click)="showAddRoomForm()">+</button>
    @for(room of rooms; track room) {
        <button [routerLink]="['/rooms', room._id]">{{room.name}}</button>
    }
</div>

@if(isAddingRoom) {
    <div class="form-popup">
        <form [formGroup]="roomForm" (ngSubmit)="addRoom()">
            <label for="roomName">Room Name:</label>
            <select name="roomName" id="roomName" formControlName="roomName">
                <option value="Kitchen">Kitchen</option>
                <option value="Bedroom">Bedroom</option>
                <option value="Living Room">Living Room</option>
                <option value="Dining Room">Dining Room</option>
                <option value="Bathroom">Bathroom</option>
            </select>
            <div>
                <button type="submit">Add Room</button>
                <button type="button" (click)="cancel()">Cancel</button>
            </div>
        </form>
    </div>
}

<router-outlet></router-outlet>