/* You can add global styles to this file, and also import other style files */

/* html, body { height: 100%; } */
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

body {
    background-color: #191919;
    padding: 2%;

    overflow: hidden;


    /* display: flex;
    flex-direction: row; */
    
}

app-root {
    display: flex;
    height: 93vh;
}

app-room-manager {
    width: 100%;
    /* background-color: red; */
}