<div>
    <h2>Add Task to {{member}}</h2>
    <form [formGroup]="todoForm" (ngSubmit)="formSubmitHandler()">
      <div class="field">
        <label for="todo">Todo:</label>
        <input type="text" id="todo" formControlName="todo">
        <div class="error" *ngIf="todo?.invalid && (todo?.dirty || todo?.touched)">
          <span *ngIf="todo?.errors?.['required']">City is required</span>
        </div>
      </div>
      <div class="field">
        <label for="time">Time:</label>
        <input type="datetime-local" id="time" formControlName="time">
        <div class="error" *ngIf="time?.invalid && (time?.dirty || time?.touched)">
          <span *ngIf="time?.errors?.['required']">time is required</span>
        </div>
      </div>
      <div class="buttons">
        <button type="submit" [disabled]="todoForm.invalid"
          [title]="todoForm.invalid ? 'Resolve all errors above in order to create new address' : undefined">
          Save
        </button>
        <button type="button" (click)="navigateToTodosList()">
          Cancel
        </button>
      </div>
    </form>
  </div>