<div class="login-container">
  <h2>Login</h2>
  <form (ngSubmit)="onSubmit()" #loginForm="ngForm">
    <div>
      <!-- <ng-container *ngIf="loginForm.controls.email?.errors?.[required]">
        Email is required
      </ng-container> -->
      <label for="email">Email</label>
      <input id="email" name="email" ngModel type="email" #emailControl="ngModel" required email />
      <!-- <ng-container *ngIf="loginForm.controls.email?.errors?.email">
        Email is invalid
      </ng-container> -->
    </div>
    <div>
      <label for="password">Password</label>
      <input id="password" name="password" ngModel type="password" #passwordControl="ngModel" required />
      <!-- <div *ngIf="passwordControl.touched && passwordControl.invalid" class="error"> -->
        <!-- <ng-container *ngIf="passwordControl.errors?">
          Password is required
        </ng-container> -->
      <!-- </div> -->
    </div>
    <button type="submit" [disabled]="loginForm.invalid || isLoading">Login</button>
    <!-- <div *ngIf="wrongEmailOrPassword">Wrong email or password!</div> -->
  </form>
</div>
